/* Basic Body Styles */
body {
    background-color: #e5e5f3;
}

/* Top Sticky Header Styles */
.top-sticky {
    background-color:#232325;
    width: 100%;
    height: 5rem;
}

/* Nav Container */

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    height: inherit;
    width: 85%;
    margin: 0 auto;
    max-width: 1500px;
  }
  
nav img {
    display: flex;
    align-items: center;
    width: 53px;
    height: 53px;
}
  
nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    padding: 1rem;
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    color: #ad8888;
    transition: ease-in-out 1s;
}

/* Nav Logo */
.logo {
    display: flex;
    align-items: center;
}

.logo a {
    display: inline-block;
    background-color: white;
    width: 75px;
    height: 75px;
}

/* HERO DISPLAY */
.hero {
    /* width: 100vw; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: solid 3px #232325;
}

/* THE SLIDER: */
.slider{
    /*max-width: 90%;
    /* The position of the element is set to its original position: 
    object-fit: cover;
    width: 100vw;
    height: 100vh;*/
}

/* The picture is scaled in relation to the parent element */
.slider .item div {
    /*object-fit: cover;
    width: 100vw;
    height: 100vh; */
}
/* Back and Forth Buttons: */
.slider .previous, .slider .next {
    /* Adds an icon to the cursor when it is over the button: */
    cursor: pointer;
    /* The position of the element is set relative to the borders of the browser: */
    position: absolute;
    top: 50vh;
    width: auto;
    margin-top: -1vh;
    padding-top: 7vmin;
    padding-bottom: 7vmin;
    /*Styling the buttons themselves */
    color: white;
    font-size: 16px;
    /* Background fading on hover: */
    transition: 0.6s ease;
    /* Rounding the borders: */
    border-radius: 0 3px 3px 0;
}

.slider .next {
    right: 10vw;
    border-radius: 3px 0 0 3px;
}

.slider .previous {
    left: 10vw;
}

/* Hover Styles */

.slider .previous:hover,
.slider .next:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

/* Slide Animation */
.slider .item {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {
        opacity: 0.4
    }
    to {
        opacity: 1
    }
}

/* TEST STYLES */

div.blue-test {
    /* width: 100vw; */
    height: 100vh;
    background-color: blue;
}

div.red-test {
    /* width: 100vw; */
    height: 100vh;
    background-color: red;
}

div.green-test {
    /* width: 100vw; */
    height: 100vh;
    background-color: green;
}

div.yellow-test {
    width: 100vw;
    height: 100vh;
    background-color: yellow;
}

/* Intro Container Styles */
.intro {
    margin: 0 auto;
    text-align: center;
}

.intro h1 {
    font-size: 2.5em;
    padding: 3rem 0 1rem 0;
}

.intro section p {
    padding: 1rem 0;
    font-size: 20px;
}

button.see {
    padding: 1rem;
    margin-top: 1rem;
}

/* Skills Container Styles */

.skills {
    margin: 0 auto;
    text-align: center;
}

h2 {
    font-size: 2.0em;
}

.col-2 {
    flex-basis: 50%;
}

.skills .container {
    flex-direction: row;
}

h3 {
    font-size: 1.75em;
    text-align: center;
}

.design, .dev, .mang {
    background-color: #fff;
    border: solid 1px #151515;
    min-height: 10rem;
    padding: 1rem;
    margin-top: 1rem;
}

/* Contact Form */
input, textarea {
    padding: 8px;
    margin: 10px 0;
}

input:hover, textarea:hover {
    background-color: #f3f3f3;
    transition: all ease-in-out .65s;
}


/* Footer Styles */
footer {
    background-color: #151515;
    margin-top: 24rem;
    padding: 2rem;
    height: 5rem;
}

footer p {
    color: #fff;
    text-align: center;
}
